*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --background-default: #FAFAFA;
  --background-primary: #19191A;
  --background-secondary: #FF0A6B;
  --background-ads-footer: #ECECEC;
  --color-button: #FFFFFF;
}

body{
  font-family: 'Inter', sans-serif;
}
input:focus {
  outline: none;
}

a, li, ul, button{
  text-decoration: none;
  list-style: none;
  color: inherit;
}

.wrapper{
  width: 70vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.general-box{
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}
