.container-main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background-default);
}
.section-hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 1600px;
}
.container-banner{
  display: flex;
  width: 100vw;  
}
.banner-home{
  background-image: linear-gradient(180deg, 
  rgba(35,31,32,0 ) 0.00%, 
  rgba(35,31,32,0.7 ) 85.64%, 
  #231f20 100.00%), url("./assets/img-banner.svg");
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 521px;
  display: flex;
  align-items:end;
  justify-content: center;
  padding: 20px; 
}
.box-text-banner{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 80%;
  color: rgb(8, 6, 6);
  gap: 20px;
}
   
.container-cards-text-banner{
  display: flex;
  gap: 20px;
}
.title-text-banner h1{
  color: white;
  font-size: 2.75rem;
  font-weight: 500;
}
.title-text-banner p{
  color: white;
  font-size: .875;
  font-weight: 500;
}

.card-text-banner span{
 color: var(--background-secondary);
 font-weight: bold;
 font-size: 12px;
 margin-bottom: 20px;
}
.card-text-banner p{
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.img-1{
  width: 40%;
}
.img-1 img{
  border-radius: 15px;
  height: 400px;

}

.container-carousel{
  width: 60%;
}

/* CAROUSEL */
.slide{
  min-height: 200px;
  min-height: 400px;
}
.carousel-inner{
  border-radius: 15px;
  height: 400px;   
}
.carousel-item img{
  min-width: 600px;
  min-height: 400px;
}



.photo-category{
  width: 80px;
  height: 80px;
  border-radius: 15px;
}
.box-category1{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 260px;
}
.box-category2{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 260px; 
}
.card-category{
  display: flex;
  gap: 10px;
}

.container-loto{
  width: 350px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  filter: drop-shadow(0px 5px 7.5px rgba(0,0,0,0.05 ));
  border-radius: 15px;
}
.title-text-loto{
  width: 85%;
  align-items: flex-start;
}
.title-text-loto h4{
  font-size: 12px;
  margin: 0;
}
.title-text-loto span{
  font-size: 10px;
}
.box-loto{
  margin-top: 10px;
}
.box-loto span{
  background-color: rgb(255, 119, 0);
  color: white;
  border-radius: 50%;
  padding: 2px;
  font-size: 14px;
}

.container-temp{
  width: 350px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  filter: drop-shadow(0px 5px 7.5px rgba(0,0,0,0.05 ));
  margin-block: 10px;
  border-radius: 15px;
  gap: 10px;
}

.title-text-temp{
  display: flex;
  flex-direction: column;
}
.title-text-temp h4{
  font-size: 14px;
}
.title-text-temp span{
  font-size: 12px;
}
.text-temp{
  display: flex;
  flex-direction: column;
}
.text-temp h4{
  color: #FFA500;
  font-size: 16px;
}
.text-temp span{
  font-size: 30px;
  font-weight: 400;
}

.container-sponsors{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 250px;
  border-radius: 15px;
  background: var(--background-ads-footer);
  margin-block: 20px ;
}
.box-sponsors{
  width: 60%;
  height: 90px;
}

.box-sponsors img{
  width: 100%;
  height: 100%;
}

